<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
           <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/inicio" routerLinkActive="active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Inicio
            </p>
          </a>
        </li>
      <li class="nav-item menu-open">
        <a href="#" class="nav-link" routerLink="/clientes" routerLinkActive="active">
          <i class="fas fa-poll-people"></i>
          <p>
            Clientes
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Active Page</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Inactive Page</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/creditos" routerLinkActive="active">
            <i class="fas fa-credit-card"></i>
          <p>
            Creditos
            <!-- <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/cajas" routerLinkActive="active">
            <i class="fas fa-cash-register"></i>
          <p>
            Cajas
          </p>
        </a>
      </li>
      <li class="nav-item menu-open">
        <a href="#" class="nav-link">
            <i class="fas fa-th-list"></i>
          <p>
            Catalogos
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/catalogos/sujetos" routerLinkActive="active">
              <i class="far fa-circle nav-icon"></i>
              <p>Sujetos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Colonias</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Ciudades</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
