<!-- CUERPO DE LA TARJETA -->
<div class="card card-primary card-outline">
  <div class="card-body">
    <!--#COMIENZA EL LLENADO DE LA TABLA   -->
    <app-list [encabezados]="encabezados" [lstSujetos]="lstSujetos" [dtTrigger]="dtTrigger"
      (oneditRow)="editRow($event)" (ondeleteRow)="deleteRow($event)">
    </app-list>
    <!--#FIN DE LA TABLA   -->
  </div>
</div>
<!-- FIN TARJETA -->

<!-- CUERPO DE LA VENTA MODAL -->
<app-form [sujeto]="sujeto" (onAddRow)="addRow($event)" (onUpdateRow)="updateRow($event)">
</app-form>
<!-- FIN VENTANA MODAL-->
