<div class="modal fade" id="miModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ existRowById ? "Editar" : "Nuevo" }} Sujeto
        </h5>
      </div>
      <div class="modal-body">
        <!-- #INICIA FORMULARIO -->
        <form [formGroup]="formSujeto" (ngSubmit)="existRowById ? updateRow() : addRow()" autocomplete="off">
          <!-- CAMPO NOMBRE -->
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa Nombre(s)"
              formControlName="nombre" [class.is-invalid]="fieldNotValid('nombre')" />
            <div *ngIf="fieldNotValid('nombre')">
              <small *ngIf="f['nombre'].errors?.['required']" class="text-danger">Campo requerido</small>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <!-- CAMPO PATERNO -->
              <div class="form-group">
                <label for="paterno">Apellido Paterno</label>
                <input type="text" class="form-control" name="paterno" id="paterno" placeholder="Apellido Paterno"
                  formControlName="paterno" [class.is-invalid]="fieldNotValid('paterno')" />
                <div *ngIf="fieldNotValid('paterno')">
                  <small *ngIf="f['paterno'].errors?.['required']" class="text-danger">Campo requerido</small>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!-- CAMPO MATERNO -->
              <div class="form-group">
                <label for="materno">Apellido Materno</label>
                <input type="text" class="form-control" name="materno" id="materno" placeholder="Apellido Materno"
                  formControlName="materno" [class.is-invalid]="fieldNotValid('materno')" />
                <div *ngIf="fieldNotValid('materno')">
                  <small *ngIf="f['materno'].errors?.['required']" class="text-danger">Campo requerido</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <!-- CAMPO RFC -->
              <div class="form-group">
                <label for="rfc">Rfc</label>
                <input type="text" class="form-control" name="rfc" id="rfc" placeholder="Ingresa rfc"
                  formControlName="rfc" [class.is-invalid]="fieldNotValid('rfc')" />
                <div *ngIf="fieldNotValid('rfc')">
                  <small *ngIf="f['rfc'].errors?.['required']" class="text-danger">Campo requerido</small>
                  <small *ngIf="f['rfc'].errors?.['minlength']" class="text-danger">Campo minimo de 13 caracteres
                  </small>
                  <small *ngIf="f['rfc'].errors?.['maxlength']" class="text-danger">Campo máximo de 13 caracteres
                  </small>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!-- CAMPO CURP -->
              <div class="form-group">
                <label for="curp">Curp</label>
                <input type="text" class="form-control" name="curp" id="curp" placeholder="Ingresa curp"
                  formControlName="curp" [class.is-invalid]="fieldNotValid('curp')" />
                <div *ngIf="fieldNotValid('curp')">
                  <small *ngIf="f['curp'].errors?.['required']" class="text-danger">Campo requerido</small>
                  <small *ngIf="f['curp'].errors?.['minlength']" class="text-danger">Campo minimo de 18 caracteres
                  </small>
                  <small *ngIf="f['curp'].errors?.['maxlength']" class="text-danger">Campo máximo de 18 caracteres
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <!-- CAMPO CURP -->
              <div class="form-group">
                <label class="form-label">Fecha Nacimiento</label>
                <input type="date" formControlName="fechaNacimiento" class="form-control"
                  [class.is-invalid]="fieldNotValid('fechaNacimiento')" />
                <div *ngIf="fieldNotValid('fechaNacimiento')">
                  <small *ngIf="f['fechaNacimiento'].errors?.['required']" class="text-danger">Campo requerido</small>
                  <small *ngIf="f['fechaNacimiento'].errors?.['pattern']" class="text-danger">Debe ser una fecha válida
                    con el formato AAAA-MM-DD
                  </small>
                </div>
              </div>
            </div>

            <div class="col-6">
              <!-- CAMPO SEXO -->
              <div class="form-group">
                <label class="form-label">Sexo</label>
                <select formControlName="sexo" class="form-control" [class.is-invalid]="fieldNotValid('sexo')">
                  <option value="">Seleccionar</option>
                  <option value="0">FEMENINO</option>
                  <option value="1">MASCULINO</option>
                </select>
                <div *ngIf="fieldNotValid('sexo')">
                  <small *ngIf="f['sexo'].errors?.['required']" class="text-danger">Campo requerido</small>
                </div>
              </div>
            </div>
          </div>

          <hr />
          <div class="d-flex justify-content-end">
            <button #cerrar type="button" class="btn btn-secondary mr-2" data-dismiss="modal" id="cerrar" (click)="cleanForm()">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="formSujeto.invalid">
              {{ existRowById ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
        <!-- #FIN FORMULARIO -->
      </div>

      <!-- <pre>
        Estado FORMULARIO : {{formSujeto.valid}}
        <br>
        ESTATUS: {{formSujeto.status}}
        {{formSujeto.value | json}}
      </pre>
      <pre>
        {{formSujeto.value | json}}
      </pre> -->
    </div>
  </div>
</div>
