<fieldset [formGroup]="domicilioForm">
  <!-- //NOTE - PAIS -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select formControlName="nacionalidadid" class="form-control">
          <option value="">Seleccionar Pais</option>
          <option value="0">México</option>
          <option value="1">España</option>
        </select>
      </div>
    </div>
  </div>

  <!-- //NOTE - ESTADO -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select class="form-control">
          <option value="">Seleccionar Estado</option>
          <option value="0">Guanajuato</option>
          <option value="1">Nuevo Leon</option>
        </select>
      </div>
    </div>
  </div>

  <!-- //NOTE - CIUDAD -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select class="form-control">
          <option value="">Seleccionar Ciudad</option>
          <option value="0">Guanajuato</option>
          <option value="1">Nuevo Leon</option>
        </select>
      </div>
    </div>
  </div>

  <!-- //NOTE - COLONIA -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select class="form-control" formControlName="coloniaid">
          <option value="">Seleccionar Colonia</option>
          <option value="0">Guanajuato</option>
          <option value="1">Nuevo Leon</option>
        </select>
      </div>
    </div>
  </div>

  <!-- //NOTE - NOMBRE DE LA VIALIDAD -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          formControlName="calle"
          class="form-control"
          placeholder="Nombre de la Vialidad"
        />
      </div>
    </div>
  </div>

  <!-- //NOTE - NO.EXTERIOR Y NO.INTERIOR -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <!-- //NOTE - NO.EXTERIOR-->
        <div class="col-6">
          <div class="form-group">
            <input
              type="text"
              formControlName="numero"
              class="form-control"
              placeholder="No. Exterior"
            />
          </div>
        </div>
        <!-- //NOTE - NO.INTERIOR -->
        <div class="col-6">
          <div class="form-group">
            <input
              type="text"
              formControlName="interior"
              class="form-control"
              placeholder="No. Interior"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- //NOTE - TIEMPO DE ARRAIGO -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select formControlName="tiempoarraigo" class="form-control">
          <option value="">Seleccionar Tiempo de Arraigo</option>
          <option value="0">Guanajuato</option>
          <option value="1">Nuevo Leon</option>
        </select>
      </div>
    </div>
  </div>

  <!-- //NOTE - ENTRE CALLE 1 -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          formControlName="entre_calle_1"
          class="form-control"
          placeholder="Entre Calle 1"
        />
      </div>
    </div>
  </div>

  <!-- //NOTE - ENTRE CALLE 2 -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          formControlName="entre_calle_2"
          class="form-control"
          placeholder="Entre Calle 2"
        />
      </div>
    </div>
  </div>

  <!-- //NOTE - REFERENCIA -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea
          class="form-control"
          formControlName="referencia"
          rows="3"
          placeholder="Referencia"
        ></textarea>
      </div>
    </div>
  </div>
</fieldset>
