<div class="row">
  <div class="col-12">
    <div class="card card-primary card-outline card-tabs">
      <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              id="custom-tabs-three-datGen-tab"
              data-toggle="pill"
              href="#custom-tabs-three-datGen"
              role="tab"
              aria-controls="custom-tabs-three-datGen"
              aria-selected="true"
              >Datos Generales</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="custom-tabs-three-domicilio-tab"
              data-toggle="pill"
              href="#custom-tabs-three-domicilio"
              role="tab"
              aria-controls="custom-tabs-three-domicilio"
              aria-selected="false"
              >Domicilio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="custom-tabs-three-perfilTransaccional-tab"
              data-toggle="pill"
              href="#custom-tabs-three-perfilTransaccional"
              role="tab"
              aria-controls="custom-tabs-three-perfilTransaccional"
              aria-selected="false"
              >Perfil Transaccional</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              id="custom-tabs-three-messages-tab"
              data-toggle="pill"
              href="#custom-tabs-three-messages"
              role="tab"
              aria-controls="custom-tabs-three-messages"
              aria-selected="false"
              >Referencias</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="custom-tabs-three-settings-tab"
              data-toggle="pill"
              href="#custom-tabs-three-settings"
              role="tab"
              aria-controls="custom-tabs-three-settings"
              aria-selected="false"
              >Documentos Digitales</a
            >
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form
          [formGroup]="altaSolClienteForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="tab-content" id="custom-tabs-three-tabContent">
            <!-- //TODO - DATOS GENERALES-TAB  -->
            <div
              class="tab-pane fade"
              id="custom-tabs-three-datGen"
              role="tabpanel"
              aria-labelledby="custom-tabs-three-datGen-tab"
            >
              <div class="row">
                <div class="col-6">
                  <!-- //NOTE - CLAVE CLIENTE -->
                  <div class="form-group">
                    <label for="materno">Clave Cliente</label>
                    <input
                      type="text"
                      class="form-control"
                      name="materno"
                      id="materno"
                      placeholder="Clave Cliente"
                    />
                  </div>
                </div>

                <div class="col-6">
                  <!-- //NOTE -  NO. SOLICITUD -->
                  <div class="form-group">
                    <label for="materno">No. Solicitud</label>
                    <input
                      type="text"
                      class="form-control"
                      name="materno"
                      id="materno"
                      placeholder="No. Solicitud"
                      Disabled
                    />
                  </div>
                </div>

                <div class="col-6">
                  <!-- //NOTE -  FECHA INGRESO -->
                  <div class="form-group">
                    <label for="materno">Fecha Ingreso</label>
                    <input
                      type="date"
                      class="form-control"
                      name="materno"
                      id="materno"
                      placeholder="No. Solicitud"
                      Disabled
                    />
                  </div>
                </div>

                <div class="col-6">
                  <!-- //NOTE - FECHA SOLICITUD -->
                  <div class="form-group">
                    <label for="materno">Fecha Solicitud</label>
                    <input
                      type="date"
                      class="form-control"
                      name="materno"
                      id="materno"
                      placeholder="No. Solicitud"
                      Disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- //TODO - DATOS SUJETO-TAB DATOS GENERALES  -->
                <div class="col-sm-6">
                  <fieldset class="border p-2">
                    <legend class="w-auto">Datos Sujeto</legend>

                    <app-sujeto
                      [altaSolClienteForm]="altaSolClienteForm"
                    ></app-sujeto>
                  </fieldset>

                  <div class="row">
                    <!-- //NOTE - TIPO DE CLIENTE -->
                    <div class="col-6" [formGroup]="solIngresoForm">
                      <div class="form-group">
                        <!-- <label class="form-label">Tipo de Cliente</label> -->
                        <select
                          class="form-control"
                          formControlName="catalogoclienteid"
                        >
                          <option value="">Seleccionar Tipo Cliente</option>
                          <option value="0">Socio Menor</option>
                          <option value="1">Socio Mayor</option>
                        </select>
                      </div>
                    </div>

                    <!-- //NOTE - TELEFONO FIJO -->
                    <div class="col-6">
                      <div class="form-group">
                        <input
                          type="tel"
                          class="form-control"
                          placeholder="Telefono Fijo"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- //NOTE -  CORREO ELECTRONICO -->
                    <div class="col-6" [formGroup]="solIngresoForm">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="correo electrónico"
                          formControlName="correoelectronico"
                        />
                      </div>
                    </div>

                    <!-- //NOTE - NO. CELULAR -->
                    <div class="col-6" [formGroup]="perfil_clienteForm">
                      <div class="form-group">
                        <input
                          type="tel"
                          class="form-control"
                          placeholder="No. celular"
                          formControlName="telefonocelular"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- //STUB - LUGAR SUJETO  -->
                <div class="col-sm-6">
                  <fieldset class="border p-2">
                    <legend class="w-auto">Lugar de Orígen</legend>

                    <!-- //NOTE - ENTIDAD FEDERATIVA DE NACIMIENTO -->
                    <!-- //FIXME - TENEMOS QUE TRAER ESTE DATO DESDE LA BASE DE DATOS -->
                    <div class="col">
                      <div class="form-group">
                        <select class="form-control">
                          <option value="">
                            Entidad Federativa de Nacimiento
                          </option>
                          <option value="0">AGUASCALIENTES</option>
                          <option value="1">GUANAJUATO</option>
                        </select>
                      </div>
                    </div>

                    <!-- //NOTE - CIUDAD DE NACIMIENTO -->
                    <!-- //FIXME - TENEMOS QUE TRAER ESTE DATO DESDE LA BASE DE DATOS -->
                    <div class="col" [formGroup]="perfil_clienteForm">
                      <div class="form-group">
                        <select class="form-control" formControlName="ciudadid">
                          <option value="">Ciudad de Nacimiento</option>
                          <option value="0">DOLORES HIDALGO</option>
                          <option value="1">SAN MIGUEL DE ALLENDE</option>
                        </select>
                      </div>
                    </div>

                    <!-- //NOTE - NACIONALIDAD -->
                    <!-- //FIXME - TENEMOS QUE TRAER ESTE DATO DESDE LA BASE DE DATOS -->
                    <div class="col" [formGroup]="solIngresoForm">
                      <div class="form-group">
                        <select
                          class="form-control"
                          formControlName="nacionalidadid"
                        >
                          <option value="">Nacionalidad</option>
                          <option value="0">Mexicana</option>
                          <option value="1">Ecuatoriana</option>
                        </select>
                      </div>
                    </div>

                    <!-- //NOTE - PAIS DE NACIMIENTO -->
                    <!-- //FIXME - TENEMOS QUE TRAER ESTE DATO DESDE LA BASE DE DATOS -->
                    <div class="col">
                      <div class="form-group">
                        <select class="form-control">
                          <option value="">Pais de Nacimiento</option>
                          <option value="0">MEXICO</option>
                          <option value="1">ESTADOS UNIDOS</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>

            <!-- //TODO - DOMICILIO-TAB -->
            <div
              class="tab-pane fade"
              id="custom-tabs-three-domicilio"
              role="tabpanel"
              aria-labelledby="custom-tabs-three-domicilio-tab"
            >
              <div class="row">
                <div class="col-6">
                  <app-domicilio
                    [altaSolClienteForm]="altaSolClienteForm"
                  ></app-domicilio>
                </div>
              </div>
            </div>


          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
